html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i');

@mixin font($fontSize, $fontColor, $fontWeight) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}

html {
  font-size: 20px;
  @media screen and (min-width: 992px) and (max-width: 1500px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 15px;
  }
  @media screen and (max-width: 575px) {
    font-size: 13px;
  }
}

.container-fluid, .row {
  margin: 0;
  padding: 0;
}

.name_of_part {
  font-family: Raleway;
  @include font(1.8rem, #555555, 600);
}
.text_about_part {
  font-family: Montserrat;
  @include font(1rem, #8c8c8c, 400);
  line-height: 1.6rem;
}

.header {
    height: 1000px;
    @media screen and (min-width: 992px) and (max-width: 1500px) {
      height: 900px;
    }
    @media screen and (max-width: 767px) {
      height: 136px;
    }
    width: 100%;
    background-image: url(../assets/img/header_background.jpg);
    background-size: cover;
    background-position: center;
    .menu {
      height: 136px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: Montserrat;
    }
    a {
      @include font(0.8rem, #fff, 500);
      padding: 0.5rem 0.5rem;
      @media screen and (max-width: 649px) {
      display: none;
      }
    }
    a:hover {
      @include font(0.8rem, #c7b299, 500);
    }
}
.header {
  .header_part_two {
    height: 864px;
    @media screen and (max-width: 1500px) {
      height: 750px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .d-block {
    height: 864px;
    @media screen and (min-width: 992px) and (max-width: 1500px) {
      height: 750px;
    }
    width: 100%;
  }
  .carousel-caption {
    width: 44vw;
    margin-left: 28vw;
    left: 0;
    right: 0;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #949291;
    border: none;
    margin-bottom: 30px;
  }
  .carousel-indicators .active {
    background-color: rgba(94, 92, 91, 0);
    border: 1px solid #d3c1ad;
  }
}
.header {
  .carousel_text_01 {
    font-family: Raleway;
    @include font (2.3rem, #fff, 500);
  }
  .carousel_text_02 {
    font-family: Raleway;
    @include font (3.2rem, #fff, 700);
    margin: 15px 0 30px;
  }
  .carousel_text_03 {
    font-family: Montserrat;
    @include font (1rem, #fff, 400);
    line-height: 1.5rem;
  }
  button {
    padding: 20px 40px;
    font-family: Raleway;
    @include font (0.8rem, #fff, 600);
    background-color: #998675;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 205px;
  }
}
.header {
  img[alt="logo"]{
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 100px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      width: 100px;
    }
  }
}

.services {
    height: 375px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      height: 315px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      height: 250px;
    }
    width: 100%;
    box-sizing: border-box;
    .services_name {
      font-family: Raleway;
      @include font(1.4rem, #555555, 700);
      margin-bottom: 20px;
      padding-top: 130px;
      text-align: center;
    }
    .services_text {
      font-family: Montserrat;
      @include font(0.9rem, #8c8c8c, 400);
      line-height: 1.5rem;
      text-align: justify;
      margin-bottom: 30px;
    }
}
.services {
  .services_01, .services_02, .services_03, .services_04 {
    padding: 0 1vw;
    background-repeat: no-repeat;
    background-position: center 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
}
.services {
  .line {
    display: none;
  }
  .services_01 {
    background-image: url(../assets/img/services_01.png);
  }
  .services_02 {
    background-image: url(../assets/img/services_02.png);
  }
  .services_03 {
    background-image: url(../assets/img/services_03.png);
  }
  .services_04 {
    background-image: url(../assets/img/services_04.png);
  }
}
.services {
  .services_01:hover .line, .services_02:hover .line,
  .services_03:hover .line, .services_04:hover .line {
    display: block;
    height: 3px;
    width: 5vw;
    background-color: #c7b299;
  }
  .services_01:hover .services_name, .services_02:hover .services_name,
  .services_03:hover .services_name, .services_04:hover .services_name {
    color: #c7b299;
  }
  .services_01:hover {
    background-image: url(../assets/img/services_hover_01.png);
  }
  .services_02:hover {
    background-image: url(../assets/img/services_hover_02.png);
  }
  .services_03:hover {
    background-image: url(../assets/img/services_hover_03.png);
  }
  .services_04:hover {
    background-image: url(../assets/img/services_hover_04.png);
  }
}
.services {
  .services_padding {
    @media screen and (min-width: 1501px) and (max-width: 1698px) {
      padding: 144px 0 14px; 
    }
    @media screen and (min-width: 992px) and (max-width: 1417px) {
      padding: 142px 0 12px; 
    }
    @media screen and (min-width: 768px) and (max-width: 853px) {
      padding: 142px 0 12px; 
    }
    @media screen and (min-width: 576px) and (max-width: 753px) {
      padding: 140px 0 10px; 
    }        
  }
}

.realization {
    @media screen and (max-width: 575px) {
      display: none;
    }
  height: 765px;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 606px;
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    height: 623px;
  }
  @media screen and (max-width: 612px) {
    height: 400px;
  }
  width: 100%;
  .name_of_part {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .text_about_part {
    margin: 30px 0 45px;
    text-align: center;
  }
}
.realization {
  .browser {
    display: flex;
    justify-content: center;
  }
  img {
    position: absolute;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 500px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      width: 500px;
    }
    @media screen and (max-width: 612px) {
      width: 300px;
    }
  }
  img[alt="browser_center"]{
    z-index: 30;
    top: 28px;
    top: 28px;
    @media screen and (min-width: 1040px) and (max-width: 1500px) {
      top: 40px;
    }
    @media screen and (min-width: 992px) and (max-width: 1040px) {
      top: 12px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      top: 28px;
    }
    @media screen and (min-width: 613px) and (max-width: 767px) {
      top: 57px;
    }
    @media screen and (max-width: 612px) {
      top: -42px;
    }
  }
  img[alt="browser_right"]{
    z-index: 20;
    left: 200px;
    @media screen and (min-width: 1060px) and (max-width: 1200px) {
      left: 150px;
    }
    @media screen and (min-width: 992px) and (max-width: 1059px) {
      left: 75px;
    }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      left: 50px;
    }
    top: 110px;
    @media screen and (min-width: 1040px) and (max-width: 1500px) {
      top: 122px;
    }
    @media screen and (min-width: 992px) and (max-width: 1040px) {
      top: 94px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      top: 81px;
    }
    @media screen and (max-width: 612px) {
      top: -10px;
    }
  }
  img[alt="browser_left"]{
    z-index: 10;
    right: 200px;
    @media screen and (min-width: 1060px) and (max-width: 1200px) {
      right: 150px;
    }
    @media screen and (min-width: 992px) and (max-width: 1059px) {
      right: 75px;
    }
    @media screen and (min-width: 576px) and (max-width: 991px) {
      right: 50px;
    }
    top: 110px;
    @media screen and (min-width: 1040px) and (max-width: 1500px) {
      top: 122px;
    }
    @media screen and (min-width: 992px) and (max-width: 1040px) {
      top: 94px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      top: 81px;
    }
    @media screen and (max-width: 612px) {
      top: -10px;
    }
  }
}
.realization {
  img[alt="browser_right"]:hover {
    z-index: 40;
  }
  img[alt="browser_left"]:hover {
    z-index: 40;
  }
}

.text_boxes {
  height: 150px;
  width: 100%;
  background-image: url(../assets/img/text_boxes_background.jpg);
  background-position: center;
  background-size: cover;
  .content_text_boxes {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
  }
}
.text_boxes {
  .left_up {
    @include font(1.7rem, #fff, 500);
    margin-bottom: 15px;
  }
  .left_up span {
    color: #c7b299;
  }
  .left_down {
    @include font(1.1rem, #615855, 400);
    font-family: Montserrat;
  }
  button {
    padding: 20px 40px;
    background-color: #998675;
    border: none;
    @include font(0.8rem, #fff, 600);
    border-radius: 5px;
    text-transform: uppercase;
  }
}

.latest_projects {
  height: 1200px;
  width: 100%;
  .name_of_part {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .text_about_part {
    margin: 30px 0 45px;
    text-align: center;
  }
}
.latest_projects {
  .group_of_button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; 
  }
  .group_of_button button {
    padding: 11px 33px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    font-family: Montserrat;
    @include font(0.8rem, #8c8c8c, 400);
    border-radius: 5px;
  }
  .group_of_button button:hover {
    color: #fff;
    background-color: #998675;
    border: none;
  }
}
.latest_projects {
  .load_more {
    display: flex;
    justify-content: center;
  }
  .load_more button {
    padding: 20px 40px;
    background-color: #998675;
    border: none;
    font-family: Montserrat;
    @include font(0.8rem, #fff, 600);
    border-radius: 5px;
  }
}
.latest_projects {
  .project_01, .project_02, .project_03,
  .project_04, .project_05, .project_06 {
    height: 235px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.latest_projects {
  .project_01 {
    background-image: url(../assets/img/project_01.png);
  }
  .project_02 {
    background-image: url(../assets/img/project_02.png);
  }
  .project_03 {
    background-image: url(../assets/img/project_03.png);
  }
  .project_04 {
    background-image: url(../assets/img/project_04.png);
  }
  .project_05 {
    background-image: url(../assets/img/project_05.png);
  }
  .project_06 {
    background-image: url(../assets/img/project_06.png);
  }
}
.latest_projects {
  .project_col .link, .project_col .zoom {
    display: none;
  }
  .project_col:hover .link, .project_col:hover .zoom {
    display: block;
    width: 2vw;
    height: 2vw;
    @media screen and (min-width: 576px) and (max-width: 767px) {
      height: 3vw;
      width: 3vw;
    }
    background-size: cover;
    background-position: center;
  }
  .project_col:hover .link {
    background-image: url(../assets/img/link.png);
    margin-right: 1vw;
  }
  .project_col:hover .link:hover {
    background-image: url(../assets/img/link_hover.png);
  }
  .project_col:hover .zoom {
    background-image: url(../assets/img/zoom.png);
    margin-left: 1vw;
  }
  .project_col:hover .zoom:hover {
    background-image: url(../assets/img/zoom_hover.png);
  }  
}
.latest_projects {
  .project_down {
    height: 100px;
    margin-bottom: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .project_col:hover .project_down {
    background-color: #362f2d;
  }
}
.latest_projects {
  .project_down_name {
    font-family: Raleway;
    @include font(1.2rem, #c7b299, 400);
    margin-bottom: 14px;
  }
  .project_down_text {
    font-family: Montserrat;
    @include font(0.8rem, #d1d1d1, 400);
  }
  .project_col:hover .project_down_name {
    color: #fff;
  }
  .project_col:hover .project_down_text {
    color: #c7b299;
  }
}

.video {
  height: 710px;
  width: 100%;
  background-image: url(../assets/img/video_background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat;
  .row>div {
    display: flex;
    justify-content: center;
  }
}
.video {
  .video_big_text {
    font-family: Raleway;
    @include font(1.8rem, #fff, 600);
    margin: 40px 0 25px;
  }
  .video_small_text {
    @include font(1rem, #fff, 500);
    line-height: 1.6rem;
    margin-bottom: 45px;
    text-align: center;
  }
  .video_time {
    @include font(0.9rem, #c7b299, 500);
  }
}

.mobile_devices {
  height: 695px;
  @media screen and (min-width: 1100px) and (max-width: 1100px) {
    height: 750px;
  }
  @media screen and (min-width: 992px) and (max-width: 1099px) {
    height: 1000px;
  }
  @media screen and (max-width: 767px) {
    height: 400px;
  }
  width: 100%;
  .row {    
    height: 695px;
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      height: 1000px;
    }
    @media screen and (max-width: 767px) {
      height: 400px;
    }
  }
  .mobile_devices_content {
    display: flex;
    justify-content: center;
  }
  .mobile_devices_img {
    align-self: flex-end;
  }
  .mobile_devices_content_right {
    align-self: center;
  }
}
.mobile_devices {
  .text_about_part {
    margin-top: 40px;
    text-align: justify;
  }
  ul {
    margin: 40px 0 0 50px;
  }
  li {
    font-family: Montserrat;
    @include font(1rem, #8c8c8c, 400);
    line-height: 1.6rem;
  }
  li:before {
    content: url(../assets/img/li.png);
    padding-right: 30px;
  }
}
.mobile_devices {
  img {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.counters {
  width: 100%;
  height: 305px;
  background-image: url(../assets/img/counters_background.jpg);
  background-size: cover;
  background-position: center;
  font-family: Montserrat;
  .counters_col {
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .counters_number {
    @include font(3rem, #fff, 400);
    margin-top: 27px;
    @media screen and (max-width: 767px) {
    @include font(2.3rem, #fff, 400);
    }
  }
  .counters_name {
    @include font(0.9rem, #c7b299, 400);
    text-transform: uppercase;
    margin: 20px 0 30px;
    text-align: center;
  }
  .counters_line {
    width: 3vw;
    height: 3px;
    background-color: #fff;
  }
}

.recent_posts {
  height: 870px;
  @media screen and (min-width: 992px) and (max-width: 1500px) {
    height: 820px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 820px;
  }
  width: 100%;
  .name_of_part {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .text_about_part {
    margin: 30px 0 45px;
    text-align: center;
  }
}
.recent_posts {
  .posts_down {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
  }
  .posts_col:hover .posts_down{
    background-color: #362f2d;
  }  
  a, a:hover, a:visited {
    @include font(0.9rem, #c7b299, 500);
    font-family: Montserrat;
  }
}
.recent_posts {
  .posts_name {
    font-family: Raleway;
    @include font(1.2rem, #555, 600);
  }
  .posts_text {
    font-family: Montserrat;
    @include font(0.9rem, #8c8c8c, 400);
    line-height: 1.4rem;
  }
  .posts_col:hover .posts_name {
    color: #c7b299;
  }
  .posts_col:hover .posts_text {
    color: #fff;
  }
}
.recent_posts {
  .posts_01 {
    background-image: url(../assets/img/posts_01.png);
  }
  .posts_02 {
    background-image: url(../assets/img/posts_02.png);
  }
  .posts_03 {
    background-image: url(../assets/img/posts_03.png);
  }
  .posts_01, .posts_02, .posts_03 {
    background-size: cover;
    background-position: center;
    height: 220px;
    padding: 18px 0 0 18px;
    box-sizing: border-box;
  }
}
.recent_posts {
  .button_left {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  .button_right {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .button_left img, .button_right img {
    width: 2.2vw;
    height: 2.2vw;
  }
}
.recent_posts {
  .date_up, .date_down {
    width: 60px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date_up {
  height: 40px;
  background-color: #363636;
  border-radius: 4px 4px 0 0;
  @include font(1.2rem, #fff, 400);
  }
  .date_down {
    height: 30px;
    background-color: #252525;
    border-radius: 0 0 4px 4px;
    @include font(0.75rem, #fff, 400);
  }
  .posts_col:hover .date_up {
    background-color: #c7b299;
  }
  .posts_col:hover .date_down {
    background-color: #a48d72;
  }
}

.partners {
  width: 100%;
  height: 490px;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    height: 400px;
  }
  background-image: url(../assets/img/partners_background.jpg);
  .group_partners_logo {
    padding: 0;
    height: 490px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      height: 400px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .row {
    height: 490px;
  }
  img {
    width: 13vw;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 16vw;
    }
    @media screen and (max-width: 767px) {
      width: 20vw;
    }
  }
}

.footer {
  height: 500px;
  @media screen and (min-width: 1230px) and (max-width: 1500px) {
    height: 450px;
  }
  @media screen and (min-width: 992px) and (max-width: 1110px) {
    height: 530px;
  }
  @media screen and (max-width: 630px) {
    height: 550px;
  }
  width: 100%;
  background-color: #191919;
  font-family: Montserrat;
  .footer_small_text {
    @include font(0.9rem, #555, 400);
    line-height: 1.25rem;
    text-align: justify;
  }
  .footer_small_text_other {    
    line-height: 1.5rem;
  }
  .footer_hover:hover .footer_small_text_hover {
    @include font(0.9rem, #c7b299, 400);
  }
  .footer_big_text {
    @include font(1.4rem, #fff, 600);
    font-family: Raleway;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: center;
  }
}
.footer {
  img[alt="logo"] {
    margin-top: 15px;
    margin-bottom: 16px;
    @media screen and (min-width: 992px) and (max-width: 1300px) {
      width: 150px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 120px;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 767px) {
      width: 80px;
      padding-top: 15px;
      padding-bottom: 7px;
    }
  }
  a[title="read more"] {
    @include font(0.9rem, #d1d1d1, 500);
  }
  .read_more {    
    margin-top: 30px;
  }
  hr {
    background-color: #252525;
  }
}
.footer {
  .footer_date {
    @include font(0.75rem, #363636, 400);
  }
  .footer_hover:hover .footer_date {
    @include font(0.75rem, #fff, 400);
  }
  .footer_date_bottom {
    margin-bottom: 10px;
  }
  .footer_date_top {
    margin-top: 10px;
  }
}
.footer {
  a[title="user"] {
    @include font(0.9rem, #00bff3, 400);
  }
  a:visited[title="user"] {
    @include font(0.9rem, #00bff3, 400);
  }
}
.footer {
  .footer_part_img {
    display: grid;
    grid-template-columns: 7.5vw 7.5vw;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      grid-template-columns: 10.5vw 10.5vw;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 10.5vw 10.5vw;
    }
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
  .footer_part_img img {
    width: 7.5vw;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 10.5vw;
    }
    @media screen and (max-width: 767px) {
      width: 10.5vw;
    }
  }
}

.copyright {
  height: 110px;
  width: 100%;
  background-color: #111111;
  font-family: Montserrat;
  @include font(0.8rem, #555, 400);
  .new_color_01 {
    color: #252525;
  }
  .new_color_02:hover {
    color: #c7b299;
  }
  span {
    color: #959595;
  }
  .new_color_02:hover span {
    color: #c7b299;
  }
}
.copyright {
  .row {
    height: 110px;
    align-items: center;
  }
  .copyright_left, .copyright_right {
    display: flex;
    justify-content: space-between;
    line-height: 1.2rem;
  }
}